.adminLkpSearchBar {
    width: 20vw !important;
  }
  
  .adminLkpTable {
    width: 65vw;
  }
  
  .adminLkpAdd {
    width: 65vw;
  }
  
  .adminLkp {
    margin-left: 10px;
  }
  
  .ant-form-item {
    margin-bottom: 10px !important;
  }
  
  .ant-modal .ant-modal-content {
    padding: 12px 20px !important;
  }
  