body {
  margin: 0;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
}

.ant-divider-horizontal {
  margin: 10px 0px 10px 0px;
}

.ant-table-thead > tr > th {
  background-color: #d87431 !important;
  color: white !important;
  border-radius: 0px;
}

.ant-table-container table > thead > tr:first-child > *:first-child {
  border-radius: 0px !important;
}

.ant-btn-primary {
  background-color: #d87431;
  border-radius: 5px !important;
}

.ant-menu-light .ant-menu-item-selected {
  color: #d87431 !important;
}

.space-div {
  margin: 5px !important;
}

.space-up-down {
  margin-top: 15px;
  margin-bottom: 15px;
}

.ant-table-row {
  cursor: pointer !important;
}
