.projectStatusSearchBar {
    width: 20vw !important;
  }
  
  .projectStatusTable {
    width: 65vw;
  }
  
  .projectsAdd {
    width: 65vw;
  }
  
  .projectStatus {
    margin-left: 10px;
  }
  
  .ant-form-item {
    margin-bottom: 10px !important;
  }
  
  .ant-modal .ant-modal-content {
    padding: 12px 20px !important;
  }
  